.red {
  background-color: red;
    width: 100px;
  height: 100px;
  position: relative;
  left: 200px;

}
.blue {
  background-color: blue;
    width: 100px;
  height: 100px;
  position: relative;
  bottom: 100px;

}
.green {
  background-color: green;
  height: 100px;
    width: 100px;
    position: relative;
    bottom: 200px;
    left: 100px;
}
